@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    line-height: 25px;
    min-width: 1320px;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
    padding: 0 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    z-index: 100;
}

.header_inner {
    width: 1320px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.group {
    display: flex;
    align-items: center;
}

.nav {
    position: relative;
    display: flex;
}

.nav>li {
    list-style: none;
    position: relative;
    padding: 0 50px;
}

.nav>li>a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #35160e;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.nav>li>a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: #333;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.nav>li>a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav li a:hover .sub {
    display: block;
}

.sub {
    width: 100%;
    background: white;
    display: none;
    clear: both;
    position: absolute;
    right: 0;
    padding: 50px 0 30px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    font-size: 17px;
    color: #35160e;
}

.sub li {
    margin: 10px 0;
}

.sub li a {
    opacity: 0.8;
}

.sub li a:hover {
    opacity: 1;
}

.scroll-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
}

.top {
    width: 100%;
    height: 200px;
    background: #777;
    margin-top: 100px;
    background: url(../community_img/top.jpg) no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.top:hover {
    opacity: 1;
}

.Title h1 {
    font-size: 50px;
    margin: 200px 0 70px;
    text-align: left;
}

.Title {
    width: 1320px;
    margin: 100px auto;
    height: 250px;
}

.t {
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 3px solid #777;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t {
    font-size: 20px;
}

.t2 {
    border-top: 1px solid #e7e7e7;
    font-size: 15px;
}

.t ion-icon {
    font-size: 30px;
    margin-top: 10px;
    padding: 0 2px;
    opacity: 0.8;
}

.C1 {
    margin: 100px auto;
    height: 1450px;
    width: 1320px;
}

.C1 img {
    display: block;
    margin: 0 auto 150px;
}

.text {
    width: 100%;
    height: 500px;
    font-size: 15px;
    position: relative;
}

.text b {
    font-family: 'Damion', cursive;
    font-size: 50px;
    margin-right: 15px;
}

.text span {
    position: relative;
    font-weight: bold;
}

.text span::before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background: #f6d39391;
    z-index: -9;
}

.text h1 span:nth-child(1)::before {
    bottom: 10px;
    width: 105%;
    height: 30px;
}

.text h3 {
    margin-top: 40px;
}

.text img {
    position: absolute;
    bottom: 450px;
    right: 350px;
    rotate: -15deg;
}

.C1 p {
    margin-top: 30px;
}

.list {
    margin-top: 100px;
}

.list a {
    padding: 20px 50px;
    background: #f6d393;
    font-weight: bold;
    color: #35160e;
}

.c {
    font-weight: bold;
    font-size: px;
    margin-right: 10px;
}

.board-nav-next {
    padding: 18px 20px 17px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 3px solid #777;
    text-align: left;
}

footer {
    background: #f6d393;
    width: 100%;
    height: 310px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer_inner {
    width: 1320px;
    height: 100%;
    margin: auto;
    color: #35160e;
    line-height: 22px;
}

.footer_inner h1 {
    width: 119px;
    height: 62px;
    background: url(../community_img/Logo.png);
    background-size: cover;
    margin: auto;
}

.footer_inner h4 {
    margin-top: 20px;
}

footer .copy {
    background: #35160e;
    height: 50px;
    line-height: 50px;
    color: #f6d393;
}

.footer_inner .t_ctn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer_inner .left {
    text-align: right
}

.left h5:nth-child(2) a,
.right h5:nth-child(2) a {
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    background: #35160e;
    border-radius: 2px;
    color: oldlace;
}

.footer_inner .right {
    text-align: left;
}

.footer_inner ion-icon {
    font-size: 35px;
    margin-top: 20px;
    color: oldlace;
    transition: 0.3s;
}

ion-icon:hover {
    color: #35160e;
}